.homepage {
  margin-top: 4%;
  display: flex;
}

.homepage > div {
  margin: 2%;
}

.homepage__sales {
  background-color: white;
}

.homepage__sales {
  flex-direction: column;
}

.homepage__sales > div {
  margin: 2%;
}
